# Demographic Data Analyzer

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

In [3]:
# Reading the database and seeing what it's like
df = pd.read_excel(".\data.xlsx")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.shape

(32561, 15)

How many people of each race are represented in this dataset?

In [5]:
unique = pd.unique(df.race).tolist()
nb_unique_race = len(unique)
print(nb_unique_race, ':', unique)

5 : ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [6]:
s = pd.Series(pd.unique(df.race).tolist())
s

0                 White
1                 Black
2    Asian-Pac-Islander
3    Amer-Indian-Eskimo
4                 Other
dtype: object

What is the average age of men?

In [7]:
avg_age_men = df[df.sex == 'Male'].age.mean()
avg_age_men

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [8]:
# Get the number of people having a Bachelor's
num_bd = len(df[df.education == 'Bachelors'])
# Get the total number of people
total = df.shape[0]
# Get the percentage
per_bd = (num_bd / total) *100
per_bd

16.44605509658794

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [9]:
# Get number of people with advanced education that makes more than 50K
num_adv_educ = len(df[((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) & (df.salary == '>50K')])
# Get the percentage
per_adv_educ = (num_adv_educ / total) * 100
per_adv_educ

10.706059396210192

What percentage of people without advanced education make more than 50K?

In [10]:
# Get number of people without advanced education that makes more than 50K
num_no_adv = len(df[(~((df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')) & (df.salary == '>50K'))])
# Get the percentage
per_no_adv = (num_no_adv / total) * 100
per_no_adv

13.374896348392248

What is the minimum number of hours a person works per week?

In [11]:
min_work = df.hours_per_week.min()
min_work

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [12]:
# Get number of people who work the minimum number and makes more than 50K
num_min_work = len(df[(df.hours_per_week == min_work) & (df.salary == '>50K')])
# Get percentage
per_min_work = (num_min_work / total) * 100
per_min_work

0.006142317496391388

What country has the highest percentage of people that earn >50K and what is that percentage?

In [111]:
mask = (df.salary == '>50K')
filtered = df[mask]
grouped = filtered.groupby(['native_country'])[['native_country', 'salary']].count().sort_values(by = 'salary', ascending = False)
country_name = grouped.iloc[0].name
num_people = grouped.iloc[0][0]
perc_people = (num_people / total ) * 100

print('The country with the highest percentage of people that earn > 50K is', country_name, 'with a total number of', num_people, 'that constitutes', perc_people,'%')

The country with the highest percentage of people that earn > 50K is United-States with a total number of 7171 that constitutes 22.023279383311323 %

Identify the most popular occupation for those who earn >50K in India.

In [93]:
# Mask that select only India and salary > 50K
mask = (df.native_country == 'India') & (df.salary == '>50K')
# Dictionarry with the occupation and their occurences of indian people that earn more than 50K
dict = df[mask].occupation.value_counts().to_dict()
dict

{'Prof-specialty': 25,
 'Exec-managerial': 8,
 'Other-service': 2,
 'Tech-support': 2,
 'Transport-moving': 1,
 'Sales': 1,
 'Adm-clerical': 1}

In [94]:
# The most popular occupation
max(dict, key=dict.get)

'Prof-specialty'